@font-face {
  font-family: lato-black;
  src: url(fonts/Lato-Black.ttf);
}
@font-face {
  font-family: lato;
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: openSans;
  src: url(fonts/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: openSans;
  background: rgb(26, 26, 26, 0.95);
  background: rgb(41, 41, 41);
  overflow-x: hidden;
}
.noscroll {
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 290px));
  justify-content: start;
  justify-content: center;
  width: 90%;
  margin: 3rem auto;
}
.card {
  color: inherit;
  text-decoration: none;
  margin-bottom: 2rem;
  color: #fff;
  /* height: 200px; */
  width: 270px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.4s ease-out;
  cursor: pointer;
}

.card:nth-child(2n) {
  transform: translateX(-80px);
  background-color: teal;
}
.card:nth-child(2n) .indicator {
  color: gold;
}
.card:not(:nth-child(2n)):hover {
  transform: translate(-12px, -5px);
  z-index: 2;
  transition: 0.4s ease-out;
}
.card:nth-child(2n):hover {
  transform: translateX(-112px) scale(1.1);
  transition: 0.4s ease-out;
}
@media (max-width: 1290px) {
  .card:nth-child(2n) {
    transform: translate(0);
  }

  .card {
  }
}
@media (max-width: 650px) {
  .card {
    width: 65vw;
    padding-left: 1.8rem;
    height: 250px;
    font-size: 1.8rem;
    justify-content: space-around;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.title {
}
.middle {
  /* background: teal; */
  padding: 0.5rem 0;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}
.indicator {
  color: rgb(146, 255, 219);
  font-weight: bold;
  font-size: 1.2rem;
}
.location {
  margin-bottom: 0.5rem;
}
.price_range {
}
.rating {
}
.title {
  font-size: 2rem;
}
.star {
  padding: 1.3rem 0;
  color: gold;
  font-size: 1.6rem;
}
.bottom {
  display: flex;
  align-items: center;
}
.bottom span {
  font-size: 1.3rem;
  align-self: center;
  margin-left: 0.3rem;
  margin-bottom: 0.3rem;
}
/* DETAILS */
.details {
  padding: 0 25px;
  color: #fff;
}
.details-name {
  font-size: 4rem;
}
.details-location {
  font-size: 1.5rem;
}
.details-pr {
  font-size: 1.5rem;
}
.details span {
  /* color: #fff; */
}
.details .star {
  padding: 0.5rem;
}
/* .details-rating {
  font-size: 13rem;
} */
.reviews {
  width: 99vw;
  margin: 1.4rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 25px;
  justify-content: start;
}
.review {
  color: #fff;
  background: #17141d;
  border: 5px solid aquamarine;
  border-left: none;
  border-bottom: none;
  min-width: 250px;
  padding: 1rem;
}
.reviewer {
}
.review-content {
}
.reviews-heading {
  margin-top: 1.5rem;
}
.review-btn {
  padding: 0.5rem 1.4rem;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  cursor: pointer;
}
.review-btn:hover {
  background: gold;
}
.review-form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: #17141d;
}
.review-form {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #1e1d20;
  box-shadow: -1rem 0 3rem #000;
}
.cancel {
  position: absolute;
  overflow: hidden;
  color: gold;
  top: 5px;
  background: 0;
  right: 5px;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.cancel:hover {
  transition: all 0.4s ease-out;
  transform: scale(1.2);
}
.review-form input {
  padding: 1rem;
  border-radius: 5px;
  margin: 2.3rem 0 1rem 0;
  outline: none;
  background: rgba(255, 217, 0, 0.4);
  color: #fff;
  border: none;
  font-size: 1.3rem;
}
.review-form input:focus,
.review-form textarea:focus {
  box-shadow: 0 0 5px gold;
}
.review-form textarea {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  outline: none;
  background: #1e1d20;
  background: rgba(255, 217, 0, 0.4);
  color: #fff;
  resize: none;
}
.review-form input::placeholder,
.review-form textarea::placeholder {
  color: rgb(185, 184, 184);
}
.active-star {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: yellow;
  cursor: pointer;
}
.active-star label {
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
.submit {
  padding: 0.7rem 1rem;
  width: 200px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  cursor: pointer;
  margin-top: 2rem;
  width: 76%;
}
.submit:hover {
  background: gold;
  color: #000;
}
.addform-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition-delay: 1s;
  transition: all 0.4s ease-in-out;
}
.addform {
  display: flex;
  flex-direction: column;
  background: rgb(61, 60, 55);
  padding: 4rem;
  width: 450px;
  position: relative;
  justify-content: center;
  transform: translateX(100vw);
  transition: all 1s ease-out;
  border-radius: 1rem;
}
.show-addform {
  transform: translate(0);
  transition: all 0.5s ease-out;
}

.show-addform-container {
  opacity: 1;
  pointer-events: all;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 500px) {
  .addform {
    width: 85%;
    padding: 2.5rem;
  }
}
@media (max-width: 350px) {
  .addform {
    padding: 1rem;
    width: 95%;
  }
}
.addform input {
  padding: 0.6rem 1rem;
  width: 100%;
  outline: none;
  border-radius: 8px;
  font-size: 1.3rem;
  /* border-radius: 10px; */
  background: 0;
  /* outline: none; */
  border: 3px solid gray;
  margin-bottom: 1rem;
  color: #fff;
}
.addform input:focus {
  box-shadow: 0 0 1rem black;
}
.addform select {
  transition: all 0.4s ease-out;
  outline: none;
  padding: 0.7rem;
  cursor: pointer;
}
.add {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.4rem;
  outline: none;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: all 0.4s ease-out;
}

.add:hover {
  background: gold;
}
nav.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.add-service {
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  margin-top: 3rem;
  transition: all 0.5s ease-out;
}
.add-service:hover {
  background: #17141d;
  color: #fff;
  transition: all 0.5s ease-out;
}
.container {
  margin-top: 6rem;
}
.loading {
  width: 100vw;
  height: 100vh;
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
